@CHARSET "UTF-8";
.drag{
	position:relative;
}

.dragging{
	background-color:#aaf;
}

ul.page_select, ul.page_select ul{
	list-style: none;
	padding-left:10px;
	line-height: 2em;
}
a#part_remove {
	border: 1px solid #333;
	border-radius: 11px;
	padding: 2px;
	background: #f88;
}

#jcms_editarea {
	border: 1px dotted #aaa;
	border-radius: 5px;
	margin: .5em 0;
	min-height: 50em;
	text-align: center;
	vertical-align: middle;
}

#jcms_editarea .content {
	border: 1px solid #aaa;
	border-radius: 5px;
	min-height: 5em;
	color:#f00;
	overflow: hidden;
	text-align: center;
}

.part_select{
	margin:5% 0;
}

button.page_part{
	width:98%;
	background:#93c3cd;
}
button.page_unit{
	width:48%;
}
.part_logo{
	min-height: 5em;
	background-image: url("images/part_logo.png");
	background-repeat: no-repeat;
	background-position: center;
}
.part_copyright{
	min-height: 5em;
	background-image: url("images/part_copyright.png");
	background-repeat: no-repeat;
	background-position: center;
}
.part_navbar{
	min-height: 5em;
	background-image: url("images/part_navbar.png");
	background-repeat: repeat-x;
}

.part_menu{
	min-height: 20em;
	background-image: url("images/part_menu.png");
	background-repeat: repeat-y;
}

.part_ad{
	min-height: 15em;
	background-image: url("images/part_ad.png");
	background-repeat: no-repeat;
	background-position: 50% 100%;
}

.part_scroll{
	min-height: 10em;
	background-image: url("images/part_scroll.png");
	background-repeat: repeat-x;
	background-position: center;
}

.part_tab{
	min-height: 30em;
	background-image: url("images/part_tab.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.part_list{
	min-height: 20em;
	background-image: url("images/part_list.png");
	background-repeat: repeat-y;
}

